*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body
{
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App
{
  background-color: white;
  padding: 2rem;
  margin-top: 5rem;
  text-align: center;
  max-width: 480px;
  width: 90vw;
  border-radius: 5px;
}
h2
{
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.input-section 
{
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}
.input-section input
{
  background-color: #f1f5f9;
  border: 1px solid white;
  outline: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  box-sizing: padding-box;
}
.input-section button
{
  background-color: #15b1dc;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
.products-section
{
  margin-top: 2rem;
}
aside
{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.content-section
{
  display: flex;
}
.content-section p
{
  margin-left: 1rem;
}
.btn-section button
{
  padding:0.1rem 0.2rem;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  margin-left: 0.2rem;
  border-radius: 3px;
  font-size: 0.8rem;
  cursor: pointer;
}
