*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 
body
{
  background-color: #f1f5f9;
}
.App
{
  width: 95vw;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 8rem;
  text-align: center;
  line-height: 2.5;
  padding: 1rem 2rem 3rem 2rem;
}
.App h2
{
  font-size: 1.55rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.input-section 
{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
input
{
  width: 70px;
  height: 100%;
  font-size: 1rem;
  outline: none;
  padding: 5px;
  background-color: #cbd5e1;
  outline: none;
  border: none;
  border-radius: 3px;
  margin-left: 0.5rem;
}
.input-section button
{
  height: 100%;
  font-size: 0.8rem;
  padding: 0 0.8rem;
  background-color: #078561;
  color: white;
  font-weight: 600;
  letter-spacing: 0.05rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 1rem;
}
.input-section button:hover
{
  background-color: #08372a;
  font-weight: 700;
}
.input-section span
{
  font-size: 1.2rem;
}
p
{
  line-height: 2;
  margin-bottom: 2rem;
  text-align: left
}
.alert
{
  position: absolute;
  top:10%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.alert 
{
  padding:0.15rem 1.2rem;
  border-radius: 5px;
}
.alert h3
{
  font-size: 1.3rem;
  font-weight: 300;
  color: white;
}
.green
{
  background-color: #078561;
}
.red
{
  background-color:#D2042D;
}